header {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 32, 124);
    font-weight: bold;
    font-family: Arial;
    font-style: italic;
    font-size: 16px;
}

body {
    margin: 0;
}

#main_canvas {
    width: 700px;
    height: 400px;
    border: 3px double #A48E6A;
    border-radius: 7px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#painting {
    z-index: 3;
    display: none;
}

#wall_measure {
    z-index: 2
}

#background_canvas {
    z-index: 1
}

button,
input {
    display: inline-block;
    margin: 0 auto 0 auto;
    border: 1px solid rgb(255, 206, 71);
    color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    font-family: Arial Black;
    width: auto;
    height: auto;
    font-size: 12px;
    font-style: italic;
    padding: 7px 40px;
    box-shadow: inset 2px 2px 0px 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: inset 2px 2px 0px 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: inset 2px 2px 0px 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px 0 #D4D4D4;
    text-shadow: 0px 0px 0 #fff;
    background-color: rgb(255, 206, 71);
}


/* border-bottom-style: groove;
    font-weight: bold;
    font-style: italic;
    border-radius: 5px; */

button:hover,
input:hover {
    border: 1px solid #FFE047;
    color: #C8A690;
    box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d;
    -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d;
    -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d;
    background-color: rgb(255, 206, 71);
}

.outer {
    display: block;
    margin: 0 auto 0 auto;
}

#start_again {
    float: right;
    margin: 0 5px 0 auto;
    /* display: inline-block; */
}

#download {
    float: right;
    margin: 0 5px 0 auto;
    /* display: inline-block; */
}

#create_new {
    display: none;
}

#accept_rectangle {
    display: none;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 4;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#paste_painting {
    display: none;
}


/* #draw_rectangle {
    display: none;
} */

#accept_painting {
    display: none;
}


/* #proxy_paste_painting {
    display: none;
} */

#no,
#yes {
    display: inline-block;
}

.box {
    padding: 0.5em;
    width: 100%;
    margin: 0.5em;
}

.box-2 {
    padding: 0.5em;
    width: calc(100%/2 - 1em);
    display: inline-block;
}

.options label,
.options input {
    width: 4em;
    padding: 0.5em 1em;
}

.btn {
    background: white;
    color: black;
    border: 1px solid black;
    padding: 0.5em 1em;
    text-decoration: none;
    margin: 0.8em 0.3em;
    display: inline-block;
    cursor: pointer;
}

.hide {
    display: none;
}

img {
    max-width: 100%;
}

#crop_editor {
    /* max-width: 1000px;
    height: 400px; */
    display: none;
    align-items: flex-start;
    flex-wrap: wrap;
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#additionals {
    display: none;
    width: fit-content;
    height: auto;
    border: 3px double #A48E6A;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
}